<!DOCTYPE html>
<head>
    <title>No Account</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body >
    <div class="backdrop">
    <form method="POST" action="/login" class="text_center">
        <a>You do not have an account!</a><br>
        <a href="/signup" style="text-decoration: none; color: black;"><button>Create an account</button></a><br>
        <br>
        <a href="/login" style="text-decoration: none; color: black;"><button>Have an acount</button></a>
    </form>
    </div>
</body>