<!DOCTYPE html>
<head>
    <title>Arhans existing webpage</title>
    <link rel="stylesheet" href="static/style.css">
</head>
<body >
    <div class="backdrop">
    <form method="POST" action="/login" class="text_center">
        <a>You do not have an account!</a><br>
        <button style="background-image: linear-gradient(30deg, orange, crimson);"><a href="/signup" style="text-decoration: none; color: black;">Create an account</a></button><br>
        <br>
        <button style="background-image: linear-gradient(30deg, orange, crimson);"><a href="/login" style="text-decoration: none; color: black;">Have an acount</a></button>
    </form>
    </div>
</body>
