<!DOCTYPE html>
<html lang="en">
<head>
    <title>Arhans webpage</title>
    <link rel="stylesheet" href="static/style.css">
</head>
</head>
<body>
    <div class="wavebackground">
        <form method="POST" action="/signup" class="text_center">
            <button style="background-image: linear-gradient(30deg, orange, crimson);"><a href="/signup" style="text-decoration: none; color: black;">Create an account</a></button>
            <button style="background-image: linear-gradient(30deg, orange, crimson);"><a href="/login" style="text-decoration: none; color: black;">Have an acount</a></button><br>
            <br>
            <label for="create_username" class="text">Create your username:</label><br>
             <br>
            <input type="text" name="create_username" placeholder="Name:" maxlength="10" required><br>
             <br>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    {% for message in messages %}
                        {{ message }}
                    {% endfor %}
                {% endif %}
            {% endwith %}
             <br>
            <label for="create_password" class="text">Create your password:</label><br>
             <br>
            <input type="password" name="create_password" placeholder="password:" maxlength="8" minlength="6" required><br>
             <br>
            <button type="submit" value="submit">submit</button>
        </form>
        </div>
</body>
</html>
